<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Overall Rating</dt>
          <% if @product.reviews.length > 0 %>
          <dd><% (@product.reviews.average(:rating).to_i).times { %>
            <span class="fa fa-star checked"></span>
            <% } %>
            <% (5 - @product.reviews.average(:rating).to_i).times { %>
            <span class="fa fa-star"></span>
            <% } %>
          </dd>
          <% else %>
          <dd> This product hasn't been rated </dd>
          <% end %>
        </dl>
      </div>
    </div>
    <br>
    <br>
    <br>
      <% if current_user %>
    <div class="review-product">
      <div>
        <h4 class="product-review-header"> Let us hear your thoughts in the review section! </h4>
        <%= form_for :review, url: product_reviews_path({product_id: @product.id}) do |f| %>
        <div class="review-rating-select"><%= f.label :rating %>
          <%= f.select :rating, 0..5 %>
        </div>
        <div class="review-text-area">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div style="float:right"><%= f.submit "Submit", :class =>"btn btn-primary btn-xs" %></div>
        <% end %>
      </div>
      <% end %>
    </div>
    <br>
    <div>
      <% @reviews.reverse_each do |review| %>
      <%= render 'reviews', review: review %>
      <% end %>
    </div>
  </article>
</section>